* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#form_container .info_block,
#form_container .rules_block,
#form_container .bottom_block {
    display: flex;
    flex-direction: column;
}

.main {
    width: 420px;
    height: 426px;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid grey;
    margin: 15px;
}

.main .close {
    width: 388px;
    height: 24px;
    padding: 0px 0px 0px 364px;
}

#form_container {
    width: 388px;
    height: 370px;
    padding: 0px 16px 16px 16px;
    gap: 24px;
}

#form_container .header_block {
    width: 356px;
    height: 32px;
    border: 1px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 28px;
}

#form_container .info_block {
    width: Fill (356px);
    height: Hug (104px);
    gap: 8px;
    padding-top: 15px;
}

#form_container .info_block .login {
    width: Fill (356px);
    height: Hug (48px);
    padding: 7px 16px 7px 16px;
    border-radius: 12px;
    border: 1px;
    border: 1px solid grey;
}

#form_container .info_block .password {
    width: Fill (356px);
    height: Hug (48px);
    padding: 7px 16px 14px 16px;
    border-radius: 12px;
    border: 1px;
    gap: 10px;
    border: 1px solid grey;
}

#form_container .rules_block {
    width: 356px;
    height: 42px;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #7B8E98;
    display: flex;
    padding-top: 15px;

}

#form_container .bottom_block {
    width: Fill (356px);
    height: Hug (104px);
    gap: 8px;
    display: flex;
    padding-top: 50px;

}

#form_container .bottom_block .registration_block {
    width: Fill (356px);
    height: Hug (48px);
    padding: 14px 24px 14px 24px;
    border-radius: 55px;
    background-color: #FFE44D;
    text-align: center;
}

#form_container .bottom_block .login_block {
    width: Fill (356px);
    height: Hug (48px);
    padding: 14px 24px 14px 24px;
    border-radius: 55px;
    background-color: white;
    text-align: center;
    border: 1px solid grey;

}

#form_container .bottom_block .registration_block button {
    border: none;
    background-color: #FFE44D;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

}

#form_container .bottom_block .login_block button {
    border: none;
    background-color: white;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

}

input {
    border: none;
    display: flex;
    justify-content: center;
}